<html>

<head>


    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'ProyectoTitulo/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'ProyectoTitulo/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-lower">Gestor de datos para deportistas de Alto Rendimiento</span>
      </h1>

      <div style="text-align:right; margin-right: 100px; color:white">
      
        {% if user.is_authenticated %}

        {{ user.username }} &nbsp; &nbsp;<a href="{% url 'salir_sesion' %}" style="color:white">Logout</a>


        {% endif %}
      </div>


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Inicio' %}">Inicio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="{% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Inicio' %}">Inicio</a>
          </li>
          <!--<li class="{% if request.path == '/servicio' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Servicio' %}">Servicio</a>-->
          </li>
          <li class="{% if request.path == '/perfi' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Perfi' %}">Perfil</a>
          </li>
          <li class="{% if request.path == '/servicio' %}active{% endif %} px-lg-4">
            <a class = "nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" 
            >SERVICIO</a>
            <div class="dopdrown-menu" aria-labelledby="navbarDropdown">
              <a class="dopdrown-item" href="{% url 'Selec' %}">GUARDAR DATA  /</a>
              <a class="dopdrown-item" href="{% url 'Selec_S' %}">  VER DATA</a>
            </div>
          </li>

         
        </ul>
      </div>
    </div>
  </nav>

  <!-- PARTE DISTINTA-->

  {% block content %}

  {% endblock %}


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt" style="color:white">
        	<!--<a href="sample.html" class="link">Contacto</a> · -->
          Proyecto de Título por Fernando Delgado Bravo

		</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'ProyectoTitulo/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ProyectoTitulo/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>