{% extends "ProyectoTitulo/0.html" %}

{% load static %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoTitulo/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Analisis</span>
            <span class="section-heading-lower">Adaptable al tiempo</span>
          </h2>
          <p class="mb-3">Ofrecemos el mejor servicio de analisis y gestion de datos para el rendimiento deportivo del manana.
          </p>
         
        </div>
      </div>
    </div>
  </section>

{% endblock %}
  
